.container {
    display: flex;
    flex-direction: row;
    padding: 2.5% 2.5%;
    width: 100%;
    /* justify-content: sp; */
}

.container1 {
    border-radius: 25px;
    padding: 1.25% 2.5%;
    padding-right: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:76.5%;
}

.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3px;
    height: 20px;
    font-size: large;

}
.dashboard{
    justify-content: space-between;
}

.Scard {
    width: auto;
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    justify-content: space-between;
     
}
.total{
    padding-left: 30px;
    text-align: left;
}
.card1{
    background-color: lightgreen;
    border-radius: 25px;
    margin: 5px;
    height: 150px;
    width: 250px;
    padding: 5px; 
    text-align: center;
    align-items: center;
    font-size:12px;
}
.card2{
    background-color: antiquewhite;
    border-radius: 25px;
    margin: 5px;
    height: 150px;
    width: 250px;
    padding: 5px; 
    text-align: center;
    align-items: center;
    font-size:12px;
}
.card3{
    background-color: pink;
    border-radius: 25px;
    margin: 5px;
    height: 150px;
    width: 250px;
    padding: 5px; 
    text-align: center;
    align-items: center;
    font-size:12px;
}
.card4{
    background-color: lightblue;
    border-radius: 25px;
    margin: 5px;
    height: 150px;
    width: 250px;
    padding: 5px; 
    text-align: center;
    align-items: center;
    font-size:12px;
}
.total p{
    font-size:25px;
    font-weight: bold;
    margin-top: 10px;
}
.card {
    background-color: green;
    width: auto;
    height: 6rem;
    border-radius: 10px;
}

.Sidebar {
    background-color:black;
    border-radius: 15px;
    /* margin: 30px 10px; */
    display: flex;
    flex-direction: column;
    /* padding: 8px; */
    width: 17.5%;
    /* height: 800px; */
    /* margin: 0px 10px; */
    color: aliceblue;
    justify-content: space-between;
    /* .p{
        text-align: end;
    } */

}
.sideMenu{
    margin:-1px 5px;
}
.Sidebar li{
    margin: 30px 30px;
    display: flex;
    flex-direction: row;
}
.linegraph {
    width: auto;
    height: 300px;
    background-color: white;
    margin: 10px 5px;
    border-radius: 15px;
    padding: 5px;
}

.Bcard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0px;
    width: auto;
    height: 250px;   
}

.child-div2{
    background-color: white;
    border-radius: 15px;
    height: 250px;
    margin: 5px;
    width: 600px;
}
/* .child-div3{
  border-left: 5px yellowgreen solid;   
}
.child-div3{
    margin: 10px 20px;
    border-left-color:greenyellow ;
    border-left: 100px;   
} */
.schedule{
    display:flex;
    margin: 10px;
}
.seeall{
    margin-left: auto;
    order: 2;
    text-decoration: underline;
    cursor: pointer;
}
.space{
    margin-left:5px;
}
.icon{
    width: 1.2995rem;
height: 1.5rem;
margin-left: 80%;
margin-top: 20px;}

.search-icon{
    width: 12px;
    margin-left: -20px;
    margin-right: 20px;
}
input{
    padding-top: 7px;
    border-radius: 5px;
    border-color: transparent;
}
ul{
    text-align: start;
    list-style: none;
}
alogin text{
    fill: black;
}
glogin text{
    fill: black;
}